/* Estrutura do site
------------------------------------ */
body {
    background: #f4f2ec;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: #333;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

a {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #227115;
}

/* Logo 
------------------------------------ */
#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../imagens/logo.png) no-repeat;
}

/* Barra de navegação 
------------------------------------ */
header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    float: left;
    margin-right: 25px;
}

nav ul li a {
    display: block;
    padding-bottom: 3px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}

/* Principal 
------------------------------------ */
#conteudo {
    width: 710px;
    float: left;
    margin-bottom: 20px;
}

/* Sidebar (barra lateral)
------------------------------------ */
aside {
    width: 300px;
    float: right;
}

aside h2 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 16px;
    background: #efefef;
    border-left: 5px solid #af670a;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(../imagens/fundo.png);
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    display: block;
    padding: 5px;
    background: url(../imagens/fundo-foto.png);
    border: 1px solid #e3e3e3;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;

}

aside ul li a:hover {
    background: #e3e3e3;
}

/* Rodapé 
------------------------------------ */
footer {
    clear: both;
    padding: 20px 0;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    font-size: 11px;
    color: #666;
}

footer>p a {
    color: #af670a;
    padding: 2px 10px;
}

footer>p a:hover {
    color: #227115;
}