* {
    font-family: Inter, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Edu Hand";
    src: url(../fonts/EduAUVICWANTHand-Regular.woff2) format('woff2'),
         url(../fonts/EduAUVICWANTHand-Regular.woff) format('woff'),
         url(../fonts/EduAUVICWANTHand-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter18pt-Regular.woff2) format('woff2'),
         url(../fonts/Inter18pt-Regular.woff) format('woff'),
         url(../fonts/Inter18pt-Regular.ttf) format('truetype');
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 75%;
    border: 2px solid #333;
    border-radius: 9px;
}

span {
    font-family: "Edu Hand", cursive;
    font-weight: 300;
}

h2 {
    text-align: center;
}

#pag {
    color: #8c8c8c;
}