/* #caixa{
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 50px;
    border-radius: 20px 90px;
}

#caixa2{
    width: 300px;
    height: 300px;
    background: #b9c941;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px 90px;
} */

#caixa{
    width: 300px;
    height: 300px;
    background: url("../imagens/camera.png");
}

#caixa h1{
    background: rgba( 255, 255, 255, 0.5);
    text-shadow: 1px 5px rgba(0, 0, 0, 0.656);
}